.img-right img {
    max-width: 500px;
}

.section_one {
    h1 {
        margin-top: $spacing*2;
    }
    h4 {
        margin-top: $spacing;
        margin-bottom: $spacing;
    }
    p{
        margin-top: $spacing;
    }
    .img-right {
        margin-top: $spacing;
        margin-bottom: $spacing;
    }
  
}

.section_two{
    .row{
        img {
            max-width: 100px;
            // margin: $spacing;
            object-fit: contain;
        }
    
        .col-4 {
            display: flex;
            justify-content: space-around;
        }
    }
   
}

.section_two h2 {
        text-align: center;
        padding-top: $spacing;
        padding-bottom: $spacing;
}

.central_foto {
    display: flex;
    justify-content: center;
    margin-top: $spacing;
    padding-bottom: $spacing*2;
    margin-bottom: $spacing * 2;
    border-bottom: 1px solid black;
    img {
        width: 300px;
    }
}

.central_foto2 {
    display: flex;
    justify-content: center;
    margin-top: $spacing;
    padding-bottom: $spacing*2;
    margin-bottom: $spacing * 2;
    img {
        width: 300px;
    }
}

.section_two{
    h1 {
        text-align: center;
        padding-bottom: $spacing*2;
    }
}

.img_slider {
    img {
        width: 550px;
    }
}

.img_destra {
    padding: $spacing;
    img {
        width: 300px;
        padding-left: $spacing;
    }
    h3 {
        padding: $spacing;
    }
    p {
        padding-bottom: $spacing;
        padding-left: $spacing;
    }
    a {
        padding-left: $spacing;
        text-decoration: none;
    }
}

.section_quattro {
    padding: $spacing;
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .btn-center {
        text-align: center;
    }span {
        color: blue;
    }
    
}

.jumbotron {
    width: 600px;
    border-radius: 10px;
    background-color: white;
    p{
        font-size: 12px;
    }
    img {
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .box-jumbo {
        display: flex;
    }
}

.box-button {
    text-align: center;
}


